h1 {
    color: gray;
}

h2,
h3,
p {
    color: gray;
    font-size: 30px;

}

.heading {
    font-style: italic;
}

.heading_done {
    font-style: italic;
}

#selector>h3,
#function>h3 {
    color: brown;
}
.explain{
    font-weight: bold;
}