h1 {
    color: gray;
}

h2,
h3,
p {
    color: gray;
    font-size: 30px;

}

.heading {
    font-style: italic;
}

.heading_done {
    font-style: italic;
}

#selector>h3,
#function>h3 {
    color: brown;
}
.explain{
    font-weight: bold;
}
.explain:link{
    color: darkcyan;
}
.explain:visited{
    color:aqua;
}
.explain:hover{
    color:red;
    font-size: 30px;
   
}
.explain:active{
    color:aquamarine;
}
a:link{
    font-size: 19px;
}
a:visited{
    font-size: 20px;
    color:coral;
}
a:hover{
    font-size: 30px;
    color:red;
}
